body{
  margin: 0 auto;
  background-image: url('../images/principal.jpg');
  background-size: auto;
}

.principal{
  margin-top: 10%;
  width: 350px;
  height: 450px;
  background: white;
   opacity:0.8;
   position: relative;
   left: 10%;
}
